{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <div id="loginContainer" class="d-flex justify-content-center mt-5">
            <div class="col-sm-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <img src="{% static 'assets/img/indigital.png' %}" alt="Logo" class="hidden-mobile">
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="mb-3 mx-auto fs-5">
                                <h2 class="fs-2 m-0">Login</h2>
                            </div>
                        </div>

                        <!-- Formulário de Login -->
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <label for="username" class="form-label">Usuário</label>
                                <input type="username" class="form-control" id="username" name="username" placeholder="Digite sua matrícula" required>
                            </div>

                            <div class="form-group mb-3">
                                <label for="password" class="form-label">Senha</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Digite sua senha" required>
                            </div>

                            <div class="bnt-entrar">
                                <button type="submit" class="form-control btn btn-success rounded submit px-3">Entrar</button>
                            </div>

                            <!-- Botão de login com SUAP -->
                            <a href="{% provider_login_url 'suap' %}" class="btn btn-block btn-success text-light p-2">
                                Entrar com o SUAP
                            </a>

                            <div id="loginLink" class="text-center mb-2">
                                <a href="{% url 'account_password_reset' %}">Esqueceu a senha?</a>
                            </div>
                        </form>

                        <p class="text-center pt-4">
                            Ainda não tem conta? <a href="{% url 'cadastro' %}">Cadastre-se</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}