{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="login-container">
    <div class="login-logo">
        <img src="{% static 'assets/img/InDigital logo.png' %}" alt="logo" class="logo">
        <h1>Login</h1>
    </div>
    <form class="login-form" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <a href="{% url 'esqueceuasenha' %}" class="forgot-password">Esqueceu a senha?</a>
        <button type="submit" class="btn-login">Entrar</button>
    </form>
    <div class="cadastre-se">
        <span>Ainda não tem conta?</span>
        <a href="{% url 'cadastro' %}" class="btn-register">Cadastre-se</a>
    </div>
</div>
{% endblock content %}