{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Recuperar Senha{% endblock %}
{% block content %}
<h2 class="text-central">Recuperar Senha</h2>
<div class="paragrafo">
<p>Digite seu email para enviar a mensagem de recuperação.</p>
<div/>
<form method="post">
  {% csrf_token %}
  {{ form | crispy }}
  <div class="botao-c d-flex justify-content-center">
    <button type="submit" class="btn btn-primary w-50">Enviar</button>
  </div>
</form>
<div class="text-center">
  <a href="{{ request.META.HTTP_REFERER|default:'/' }}" class="botao-cancelar-rec">Cancelar</a>
</div>
{% endblock %}
