{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-mreservas">
        <h2 class="titulo">Gerenciamento de Reservas</h2>
        <p class="descricao">Aqui você pode listar ou criar novas reservas de forma rápida e eficiente.</p>
        
        <div class="table-reservas">
            <div class="buttons-mreservas">
                <a href="{% url 'listar_disponibilidades' %}" class="botao-mreserva">
                    <i class="fas fa-list"></i> Listar Reservas
                </a>
                <a href="{% url 'criar_disponibilidade' %}" class="botao-mreserva botao-criar">
                    <i class="fas fa-plus-circle"></i> Criar Reserva
                </a>
                <a href="{% url 'listar_laboratorios' %}" class="botao-mreserva botao-criar">
                    <i class="fas fa-list"></i> Listar Laboratórios
                </a>
                <a href="{% url 'criar_laboratorio' %}" class="botao-mreserva botao-criar">
                    <i class="fas fa-plus-circle"></i> Criar Laboratório
                </a>
                <a href="{% url 'admin_minhas_reservas' %}" class="botao-mreserva botao-criar">
                    <i class="fas fa-list"></i> Minhas Reservas
                </a>
            </div>
        </div>
    </div>
{% endblock content %}