{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}InDigital{% endblock title %}
    </title>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>
    <!-- css -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <!-- font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
</head>
<body>
{% block header %}
<header>
    <a href="{% url 'index' %}" class="logo">InDigital</a>

    <nav class="navbar">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'reserva' %}">Reserva</a>
    </nav>
    <div class="icon">
        <a href="{% url 'perfil' %}" class="fas fa-user"></a>
    </div>
</header>
{% endblock header %}
{% block content %}
{% endblock content %}
<footer class="footer">
    <div class="container">
        <p>Copyright © {% now 'Y' %}</p>
    </div>
</footer>
</body>
</html>