<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancelar reserva</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="excluir-conta">
    <div class="container excluir-conta">
        <div class="box excluir-conta">
            <h2 class="excluir-conta">Deseja cancelar sua reserva?</h2>
            <p class="excluir-conta">A reserva não pode ser recuperada quando cancelada.</p>
            <div class="buttons excluir-conta">
                <a href="reservacancelada.html" class="button excluir-conta sim excluir-conta">Sim</a>
                <a href="perfilestudante.html" class="button excluir-conta nao excluir-conta">Não</a>
            </div>
        </div>
    </div>
</body>
</html>