{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-cancelar-reserva">
    <div class="box-cancelar-reserva">
        <h2 class="deseja-cancelar">Deseja cancelar sua reserva?</h2>
        <p class="cancelar-reserva">A reserva não pode ser recuperada quando cancelada.</p>
        <div class="buttons cancelar-reserva">
            <a href="reservaexcluida.html" class="button sim sim cancelar-reserva">Sim</a>
            <a href="minhasreservas.html" class="button nao nao cancelar-reserva">Não</a>
        </div>
    </div>
</div>
{% endblock content %}