{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<div class="container">
    <h2>Editar Laboratório</h2>

    <form method="post" class="styled-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form|crispy }}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn save">Salvar</button>
            <a href="{% url 'listar_laboratorios' %}" class="btn cancel">Voltar</a>
        </div>
    </form>
</div>

{% endblock %}