{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<div class="editar-laboratorio-container">
    <h2>Editar Laboratório</h2>

    <form method="post" class="editar-laboratorio-form">
        {% csrf_token %}
        <div class="editar-laboratorio-campos">
            {{ form|crispy }}
        </div>
        <div class="editar-laboratorio-acoes">
            <button type="submit" class="editar-laboratorio-botao-salvar">Salvar</button>
            <a href="{% url 'listar_laboratorios' %}" class="editar-laboratorio-botao-voltar">Voltar</a>
        </div>
    </form>
</div>

{% endblock %}