{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="excluir-reserva-container">
    <h2>Tem certeza que deseja excluir essa reserva?</h2>
    
    
    <div class="excluir-reserva-detalhes">
        <p><strong>Laboratório:</strong> {{ reserva.laboratorio }}</p>
        <p><strong>Horário:</strong> {{ reserva.horario_inicio|time:"H:i" }} às {{ reserva.horario_fim|time:"H:i" }}</p>
        <p><strong>Data:</strong> {{ reserva.data|date:"d/m/Y" }}</p>
    </div>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="botao-salvar">Confirmar</button>
    </form>
    <a href="{% url 'listar_disponibilidades' %}" class="botao-voltar">Voltar</a>
</div>

{% endblock %}