<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir conta estudante</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="excluir-conta">
    <div class="container excluir-conta">
        <div class="box excluir-conta">
            <h2 class="excluir-conta">Deseja excluir sua conta?</h2>
            <p class="excluir-conta">A conta não pode ser recuperada uma vez excluída.</p>
            <div class="buttons excluir-conta">
                <a href="contaexcluida.html" class="button excluir-conta sim excluir-conta">Sim</a>
                <a href="editarperfilestudante.html" class="button excluir-conta nao excluir-conta">Não</a>
            </div>
        </div>
    </div>
</body>
</html>