{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="home" id="home">
    
</section>
<section class="sobre">
    <div class="container">
        <div class="sobre-text">
            <h3>InDigital</h3>
        <p>
            Uma sistema intuitivo e eficiente para que estudantes
            possam reservar horários em laboratórios
            de forma rápida e organizada.
        </p> 
        </div>
        <div class="sobre-img">
            <img src="{% static 'assets/img/indigitallogotipo.png' %}" alt="">
        </div>
    </div> 
</section>
<footer class="footer">
    <div class="container">
        <p>Copyright © {% now 'Y' %}</p>
    </div>
</footer>
{% endblock content %}