{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Título centralizado -->
<div class="titulo-container">
    <h2>Lista de Laboratórios</h2>
</div>

<!-- Container para os laboratórios -->
<div class="laboratorios-container">
    {% for laboratorio in page_obj %}
    <div class="laboratorio-item">
        <div class="laboratorio-info">
            <strong>Número:</strong> {{ laboratorio.num_laboratorio }}
        </div>
        
        <div class="laboratorio-info">
            <strong>Vagas:</strong> {{ laboratorio.vagas }}
        </div>

        <div class="laboratorio-acoes">
            {% if perms.indigital.editar_laboratorio %}
                <a href="{% url 'editar_laboratorio' laboratorio.id %}" class="laboratorio-botao-editar">Editar</a>
            {% endif %}
            {% if perms.indigital.excluir_laboratorio %}
                <a href="{% url 'excluir_laboratorio' laboratorio.id %}" class="laboratorio-botao-excluir">Excluir</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<!-- Paginação -->
<div class="pagination-container">
    <span class="page-link">
    </span>
    <!-- Links de paginação com números -->
    {% for num in page_obj.paginator.page_range %}
        <span class="page-link {% if page_obj.number == num %}active{% endif %}">
            <a href="?page={{ num }}">{{ num }}</a>
        </span>
    {% endfor %}

    <!-- Exibe a quantidade de páginas -->
    <div class="page-info">
        <p>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</p>
    </div>
</div>

<div class="botao-voltar-listar-lab">
    <a href="{% url 'reservas' %}">Voltar</a>
</div>
{% endblock %}


