{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-listar-reservas">
    <div class="h2-listar">
        <h2>Lista de Reservas</h2>
    </div>

    {% if reservas %}
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Horário</th>
                    <th>Laboratório</th>
                    <th>Vagas</th>
                    <th>Data</th>
                    {% if request.user.is_authenticated %}
                    <th>Ações</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservas %}
                    <tr>
                        <th scope="row">{{ reserva.id }}</th>
                        <td>{{ reserva.horario|time:"H:i" }}</td>
                        <td>{{ reserva.laboratorio }}</td>
                        <td>{{ reserva.laboratorio.vagas }}</td>
                        <td>{{ reserva.data|date:"d/m/Y" }}</td>
    
                        <td>
                            {% if perms.indigital.editar_reserva %}
                                <a href="{% url 'editar_reserva' reserva.id %}" class="btn edit">Editar</a>
                            {% endif %}
                            {% if perms.indigital.excluir_reserva %}
                                <a href="{% url 'excluir_reserva' reserva.id %}" class="btn delete">Excluir</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhuma reserva encontrada.</p>
    {% endif %}
</div>
{% endblock content %}