{% extends "base.html" %}
{% load static %}

{% block content %}
<a href="javascript:history.back()" class="btn-voltar">
    <i class="fas fa-arrow-left"></i>    Voltar
</a>
<div class="laboratorios-container">
    <h2>Lista de Laboratórios</h2>
    
    {% for laboratorio in laboratorios %}   
    <form class="laboratorio-form">
        <div class="laboratorio-info">
            <label>Número:</label>
            <input type="text" value="{{ laboratorio.num_laboratorio }}" readonly>
        </div>
        
        <div class="laboratorio-info">
            <label>Vagas:</label>
            <input type="text" value="{{ laboratorio.vagas }}" readonly>
        </div>

        <div class="laboratorio-acoes">
            {% if perms.indigital.editar_laboratorio %}
                <a href="{% url 'editar_laboratorio' laboratorio.id %}" class="laboratorio-botao-editar">Editar</a>
            {% endif %}
            {% if perms.indigital.excluir_laboratorio %}
                <a href="{% url 'excluir_laboratorio' laboratorio.id %}" class="laboratorio-botao-excluir">Excluir</a>
            {% endif %}
        </div>
    </form>
    {% endfor %}
</div>

{% endblock %}