{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-listar-reservas">
    <div class="h2-listar">
    <h2>Lista de Reservas</h2>
    <table>
        <thead>
            <tr>
                <th>Horário</th>
                <th>Laboratório</th>
                <th>Data</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>08:00 - 8:30</td>
                <td>Lab 215</td>
                <td>05/02/2025</td>
                <td>
                    <a href="#" class="btn edit">Editar</a>
                    <a href="#" class="btn delete">Excluir</a>
                </td>
            </tr>
            <tr>
                <td>10:00 - 10:45</td>
                <td>Lab 214</td>
                <td>06/02/2025</td>
                <td>
                    <a href="#" class="btn edit">Editar</a>
                    <a href="#" class="btn delete">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}