{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Lista de Laboratórios</h2>
<table>
    <tr>
        <th>Número</th>
        <th>Vagas</th>
        <th>Ações</th>
    </tr>
    {% for laboratorio in laboratorios %}
    <tr>
        <td>{{ laboratorio.num_laboratorio }}</td>
        <td>{{ laboratorio.vagas }}</td>
        <td>
            {% if perms.indigital.editar_laboratorio %}
                <a href="{% url 'editar_laboratorio' laboratorio.id %}" class="btn edit">Editar</a>
            {% endif %}
            {% if perms.indigital.excluir_laboratorio %}
                <a href="{% url 'excluir_laboratorio' laboratorio.id %}" class="btn delete">Excluir</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}