{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-mreservas">
        <div class="table-header">
            <span>Data</span>
            <span>Horário</span>
            <span>Laboratório</span>
        </div>
        <div class="table-row">
            <span>25/01</span>
            <span>8:50</span>
            <span>Lab 215</span>
        </div>
        <div class="buttons">
        <div class="new-button">
            <a href="{% url 'listar_reservas' %}">
                <button type="submit" class="btn-login">Listar Reservas</button>
        </div>
    </div>
{% endblock content %}