<div class="modal-header">
    <h5 class="modal-title">
        <i class="fas fa-plus-circle mr-2"></i>Criar Nova Disponibilidade
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<form id="formCriarDisponibilidade" method="post" action="{% url 'criar_disponibilidade' %}">
    {% csrf_token %}
    <div class="modal-body">
        {{ form|crispy }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            <i class="fas fa-times mr-1"></i> Cancelar
        </button>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-save mr-1"></i> Salvar
        </button>
    </div>
</form>