{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="perfil-container">
    <h2>Perfil</h2>
    <div class="perfil-info">
        <p><strong>Usuário:</strong> Ana Maria</p>
        <p><strong>Matrícula:</strong> 20221234560015 </p>
        <p><strong>Email:</strong> anamaria@gmail.com</p>
        <p><strong>Turno:</strong> Matutino</p>
        <p><strong>Série:</strong> Terceiro</p>
    </div>
    <div class="botao">
        <a href="{% url 'editar_perfil' %}">
    <button class="editar-button">Editar Perfil</button>
</div>
{% endblock content %}