{% extends "base.html" %} 
{% load static %}

{% block content %}
<div class="container-reserva">
    <div class="logo-reserva">
        <div class="logo-circle">
            <img src="{% static 'assets/img/InDigital logo.png' %}" alt="Logo InDigital">
        </div>
    </div>
    <div class="reservation-box">
        <h2>Reservas para o laboratório de informática</h2>
    {% if reservas %}
        <table>
            <thead>
                <tr>
                    <th>Horário</th>
                    <th>Laboratório</th>
                    <th>Data</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservas %}
                    <tr>
                        <td>{{ reserva.horario|time:"H:i" }}</td>
                        <td>{{ reserva.laboratorio }}</td>
                        <td>{{ reserva.data|date:"d/m/Y" }}</td>
                        <td>
                            {% if not reserva.usuario %} 
                                <a href="{% url 'reservar_laboratorio' reserva.id %}" class="btn reserve">Reservar</a>
                            {% else %}
                                <span class="reserved-text">Reservado</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>Escolha o horário, laboratório e data para realizar a reserva.</p>
    {% else %}
        <p>Nenhuma reserva disponível.</p>
    {% endif %}
</div>
{% endblock content %}