@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Cores */
:root {
    --cor-primaria: #20597F;
    --cor-secundaria: #20597F;
    --cor-intermediaria1: #20597F;
    --cor-intermediaria2: #86B5E1;
    --cor-intermediaria3: #20597F;
}

/* Estilos Globais */
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow-y: scroll;
    margin: 0;
    background-color: var(--secondary-color);
    color: var(--contrast-color);
    background-color: #f8f9fa; /* Para o restante do site */
}

a,
button {
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s all ease;
    color: var(--toggle-color);
}

a:hover {
    color: var(--primary-color);
}

/* Responsividade Login */
@media screen and (max-width: 768px) {
    body {
        font-size: 13px;
    }

    .butao {
        width: 140px;
        margin-top: 10px;
    }

    #sideNavbar {
        margin-left: -250px;
        position: absolute;
        min-height: 100vh;
        z-index: 1000;
    }

    #sideNavbar.active {
        margin-left: 0;
    }

    #dataSelect {
        width: 150px;
    }

    #loginContainer #loginLink {
        font-size: small;
    }

    .navbar,
    footer {
        width: 100vw;
    }
}

/* SITE GERAL */

.navbar {
    background-color: var(--cor-primaria) !important;
}

.navbar-brand,
.nav-link {
    color: #ffffff !important;
}

.btn-primary {
    background-color: var(--cor-secundaria);
    border-color: var(--cor-secundaria);
}

.btn-primary:hover {
    background-color: var(--cor-intermediaria3);
    border-color: var(--cor-intermediaria3);
}

.carousel-caption h1 {
    color: #ffffff;
}

.featurette-heading {
    color: var(--cor-primaria);
}

.lead {
    color: var(--cor-secundaria);
}

.rounded-circle rect {
    fill: var(--cor-intermediaria1);
}

.carousel-inner svg rect {
    fill: var(--cor-intermediaria2);
}

.featurette-divider {
    border-top: 2px solid var(--cor-primaria);
}

footer {
    background-color: var(--cor-primaria);
    padding: 20px 0;
    color: var(--cor-secundaria);
}
