{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}InDigital{% endblock title %}
    </title>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>
    <!-- css -->
    <link href="{% static 'css/styles_user.css' %}" rel="stylesheet" />
    <!-- font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
</head>
<body>
{% block header %}
<header>

    <nav class="navbar">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'reserva' %}">Reserva</a>
        <a href="{% url 'minhasreservas' %}">Minhas Reservas</a>
    </nav>
    {% if request.user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Sair</button>
    </form>
    {% else %}
    <div class="icon">
        <a href="{% url 'login' %}" class="fas fa-user"></a>
    </div>
    {% endif %}
</header>
{% endblock header %}
{% block content %}
{% endblock content %}
<footer class="footer">
    <div class="container">
        <p>Copyright © {% now 'Y' %}</p>
    </div>
</footer>
</body>
</html>