{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-cadastro">
    <div class="form">
        <form method="post" action="{% url 'cadastro' %}" enctype="multipart/form-data">
            <div class="form-header">
                <div class="title">
                    <h1>Cadastre-se</h1>
                    <p>Venha fazer parte do InDigital e realize suas reservas!</p>
                </div>
            </div>
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="botao-salvar">Cadastrar</button>
            <a href="{% url 'reservas' %}" class="botao-voltar">Voltar</a>
{% endblock content %}