{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-editar-perfil">
    <form method="POST" enctype="multipart/form-data"> {# Permite envio de arquivos #}
        {% csrf_token %}
        <div class="form-header">
            <div class="title">
                <h1>Editar perfil</h1>
            </div>
        </div>

        <div class="form-group">
            {{ form.as_p }}
        </div>

        <div class="cadastrar-button">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{% url 'password_change' %}" class="btn-alterar-senha">Alterar Senha</a>
            <a href="{% url 'perfil' %}" class="btn-alterar-senha">Voltar</a>
        </div>
    </form>
</div>
{% endblock content %}