{% extends 'base.html' %}

{% block content %}
  <h2>Lista de Usuários</h2>

  <div style="margin-bottom: 10px;">
    <a href="{% url 'cadastro' %}">
      <button type="button">Adicionar Usuário</button>
    </a>
  </div>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Matrícula</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios %}
        <tr>
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.matricula }}</td>
          <td>{{ usuario.username }}</td>
          <td>{{ usuario.email }}</td>

          <td>
            <a href="{% url 'editar_usuario' usuario.id %}">Editar</a>
            <a href="{% url 'deletar_usuario' usuario.id %}">Deletar</a>

            {% if usuario.perfil != 'monitor' %}
              <a href="{% url 'tornar_monitor' usuario.id %}">Definir como Monitor</a>
            {% else %}
              <a href="{% url 'remover_monitor' usuario.id %}">Remover Monitor</a>
            {% endif %}

            <a href="{% url 'reservas_por_usuario' usuario.id %}">Ver Reservas</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}